::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.25em;
  background: #e6effe;
}

::-webkit-scrollbar-thumb {
  background: #8bb2f9;
  border-radius: 100vw
}
